<!-- Atalhos e Dicas -->

<!-- ========================================================== -->
<!-- Extensão VSCode para COLORIR COMENTÁRIOS DE CÓDIGO -->

<!-- Nome da Extensão do VSCode => XYZ -->
<!-- * Colorir comentário de Verde => Sinal * -->
<!-- ! Colorir comentário de Vermelho => Sinal ! -->
<!-- ? Colorir comentário de Azul => Sinal ? -->
<!-- Colorir comentário de Cinza => Sinal Nenhum -->

<!-- ========================================================== -->
<!-- ATALHO CABEÇALHO HTML => TECLA SHIFT + !  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<!-- ========================================================== -->
<!-- ATALHO EMOJIS => TECLA WINDOWS + . -->

😒 

<!-- ========================================================== -->
<!-- LIMPAR TERMINAL -->

<!-- Digite CLEAR no terminal, limpa ele. -->

<!-- ========================================================== -->

<!-- /* --------------------------------
Site:       Site name
CSS author: Your name here
Updated:    Date
Updated by: Your name here
-------------------------------- */ -->


<!-- ========================================================== -->


<!-- ========================================================== -->
