<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <p>
            <h2>Conexão com Banco de Dados</h2>
            <h4>Ferramentas</h4>
            <p>Python</p>
            <p>VsCode</p>
            <p> SQLite - Banco de Dados SQL</p>
            <p>DBeaver - Interface Gráfica de Bancos de Dados SQL</p>
            <p>No VsCode, editar comandos para a conexão com Banco de Dados através da Interface Gráfica DBeaver. Digite os comandos SQL no VS Code e atualize a página do DBeaver para ver as tabelas criadas</p>
            <p>Codigo de Conexão DB x Python</p>

            <p>

                - crie o arquivo de banco de dados .db na pasta de destino do projeto que deve ser a mesma pasta onde ficará o arquivo de codigo python!<br>

                - no DBeaver = arquivo/ Novo / Assistente-Pasta DBeaver / Conexão com Banco de Dados / Avançar / Todos / Escolha qual será seu Banco Utilizado (Neste Caso SQLite) / Avançar / Caminho ABRIR - procure o arquivo .db que vc criou na pasta do código Python. / Concluir. (deverá aparecer o arquivo .db na aba de navegação do DBeaver)<br>

                - Agora volte pro VScode para editar o código de conexão e os comandos de criação de tabelas e dados.<br>

            </p>




        </p>

    </main>
    <footer>

    </footer>
</body>
</html>