<!-- 
*=========================================================================================

?   PROJETO ->> Desenvolvimento WEB Full Stack: Minha Trilha para Execução de
?   Projetos
?   OBJETIVO ->> Página para unir visualmente as etapas de projetos web por 
?   links e botões.
?   CRIAÇÃO E DESENVOLVIMENTO ->> Marcia Moreira
?   DATA DA CRIAÇÃO ->> 10/01/2024
?   MEU GITHUB ->> https://github.com/Marcia-Moreira
?   MEU LINK WAKATIME ->> https://wakatime.com/@Marcia_Moreira
?   MEU LINKEDIN ->> https://www.linkedin.com/in/marciamoreiramm

*========================================================================================
-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Caminhos Absolutos de CSS -->

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- Fim Caminhos Absolutos de CSS -->

    <title>Trilha para Execução de Projetos WEB</title>
</head>
<body>
    <header>
        <!-- header -->
        <p>Header</p>
    </header>
    <main>
        <!-- main -->
        <p>Main</p>
        <div class="pagina pag_principal">
            <!-- Página Principal -->
            <!-- Verificar se dá pra pôr distintivos Badges -->
            <div class="fundo-branco">
                <a class="btn funcao_principal">Botão Principal com Links-Centralizado</a>
                <div class="trilha_01">
                    <div>
                        <a class="btn_matriz">coluna_01</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_02</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_03</a>
                    </div>
                </div>
                <div class="trilha_02">
                    <div>
                        <a class="btn_matriz">coluna_01</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_02</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_03</a>
                    </div>
                </div>
                <div class="trilha_03">
                    <div>
                        <a class="btn_matriz">coluna_01</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_02</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_03</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_04</a>
                    </div>
                </div>
                <div class="trilha_04">
                    <div>
                        <a class="btn_matriz">coluna_01</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_02</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_03</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_04</a>
                    </div>
                </div>
                <div class="trilha_04_">
                    <div>
                        <a class="btn_matriz">coluna_01</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_02</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_03</a>
                    </div>
                    <div>
                        <a class="btn_secundario">coluna_04</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="pagina">
            <!-- Página 02 -> -->
            <p>pagina_02</p>
 
        </div>
        <div class="pagina">
            <!-- Página 03 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 03 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 04 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 05 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 06 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 07 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 08 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 09 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 10 -> -->
            <p>pagina_02</p>

        </div>
        <div class="pagina">
            <!-- Página 11 -> -->
            <p>pagina_02</p>

        </div>

    </main>
    <footer>
        <!-- Footer -->
        <p>Footer</p>

    </footer>
</body>
</html>